body {
    margin: 0;
    padding: 0;
}

.boxform {
    width: 50%;
    border: 2px solid #E5E4E2;
    background-color: #E5E4E2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 650px;
}

.label-bold {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 22px;
}

.input {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    transition: border 0.3s ease;
}

.input:focus {
    border: 2px solid #333;
    outline: none;
}

.note-text {
    color: #666666;
    font-size: 15px;
    font-style: italic;
}

#titreAvis {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

#inputCommentaire {
    width: 600px;
    height: 300px;
    overflow: auto;
    resize: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border 0.3s ease;
}

#inputCommentaire:focus {
    border: 2px solid #333;
    outline: none;
}

#Button {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #343434;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#Button:hover {
    background-color: #1B1B1B;
}

.button-container {
    text-align: right;
}
