
#titrefaq { 
	text-align: center;
}

.box {
	width: 400px; 
    height: 500px; 
    border: 2px solid white; 
    background-color: white; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px auto;
	box-shadow: 0 1px 2px 0 rgba(103, 110, 144, .1), 0 2px 2px 0 rgba(103, 110, 144, .05), 0 4px 4px 0 rgba(103, 110, 144, .08), 0 8px 8px 0 rgba(103, 110, 144, .05), 0 16px 40px 1px rgba(103, 110, 144, .15);
}

.bulle-sms{

	position: relative;
	border: 2px solid #355e3b;
	background-color: #afd9b6;
	padding: 5px;
	border-radius: 4px;
	margin: 10px;
	max-width: 280px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	display: inline-block;
}

.bulle-gauche{
	font-weight: bold;
}
.bulle-gauche::before{
	content: "";
	position: absolute;
	top: 50%;
	left: -12px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent #afd9b6 transparent transparent;
	
}

.bulle-droite{
	float: right;
}

.bulle-droite::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #afd9b6;
}

#BoutonFAQ{
	display: flex;
	align-items: center;
	color: white;
	font-weight: bold;
	height: 25px;
	background-color: black;
	margin: 0 auto;
	border: 1px solid;
	border-color: black;
	border-radius: 10px 10px 10px 10px;
}

.icone{
	border: 1px solid;
	border-color: #AFAFAF;
	background-color: #AFAFAF;
}


