body{
	margin: 0;
	padding: 0;
	background-image: url("../img/faq.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: background-image 2s linear ;
}

#titrefaq { 
	text-align: center;
}

.box {
	width: 400px; 
    height: flex; 
	max-height: 600px;
	overflow-y: auto;
    border: 2px solid #d7dedf; 
    background-color: #d7dedf; 
    border-radius: 10px; 
    padding: 20px;
    margin: 20px auto;
	box-shadow: 0 1px 2px 0 rgba(103, 110, 144, .1), 0 2px 2px 0 rgba(103, 110, 144, .05), 0 4px 4px 0 rgba(103, 110, 144, .08), 0 8px 8px 0 rgba(103, 110, 144, .05), 0 16px 40px 1px rgba(103, 110, 144, .15);
}

.bulle-sms{

	position: relative;
	border: 2px solid #A8D8C9;
	background-color: #A8D8C9;
	padding: 5px;
	border-radius: 4px;
	margin: 10px;
	max-width: 280px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	display: inline-block;
}

.bulle-gauche{
	font-weight: bold;
}
.bulle-gauche::before{
	content: "";
	position: absolute;
	top: 50%;
	left: -12px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent #afd9b6 transparent transparent;
	
}

.bulle-droite{
	float: right;
}

.bulle-droite::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent #afd9b6;
}

#BoutonFAQ{
	display: flex;
	align-items: center;
	color: white;
	font-weight: bold;
	height: 25px;
	background-color: black;
	margin: 0 auto;
	border: 1px solid;
	border-color: black;
	border-radius: 10px 10px 10px 10px;
}

.icone{
	border: 1px solid;
	border-color: #AFAFAF;
	background-color: #AFAFAF;
}


