.formulaire {
    background-color: rgb(192, 222, 248);
    padding: 2%;
    text-align: center;
}

.navbar {
    text-align: center; 
    padding: 10px; 
    background: #355e3b; 
    height: 55px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: #56b364;
    border-radius: 5px;
}

.navbar ul li:first-child a:hover {
    background-color: transparent;
}

.footer {
    text-align: center; 
    padding: 10px; 
    background: #355e3b; 
    color: white;
}

.logo {
    scale: 50%;
}