.formulaire {
    background-color: rgb(110, 172, 226);
    border-radius: 10%;
    padding: 2%;
    text-align: center;
}

.navbar {
    text-align: center; 
    padding: 10px; 
    background: #800; 
    color: white;
}

.footer {
    text-align: center; 
    padding: 10px; 
    background: #333; 
    color: white;
}