.boxform {
    width: 50%;
    border: 2px solid #E5E4E2;
    background-color: #E5E4E2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

.input {
    width: 150px;
    height: 30px;
}

#titreAvis {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

#inputCommentaire {
    width: 600px;
    height: 300px;
    overflow: auto; /* 出现滚动条 */
    resize: none;   /* 禁止用户拖动改变大小（可选） */
}

#Button {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #343434;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#Button:hover {
    background-color: #1B1B1B;
}

.button-container {
    text-align: right;
}
