#titrecreation{
	text-align:center;
}
.input{
	width: 170px;
	height: 20px;
}

.gauche{
	width: 50%;
	margin-top: 50px;
	text-align: left;
}

.droite{
	width: 50%;
	margin-top: 50px;
	text-align: left;
}

.conteneurForm{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

#inputDescription{
	width: 70%;
	padding: 8px;
	margin-bottom: 10px;
	width: 250px;
	resize: none;
}

#labPicture{
	margin-left: 40px;
}

.conteneurImage{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.Cells{
	height:224px;
	width: 300px;
	margin-left: 10px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	text-align: center;
}


.Cells:hover {
	border-style: dotted;
}
p :hover{
	cursor: pointer;
}

.ImageActivite{
    width: 100%;
    height: auto;
	object-fit: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#saveButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#saveButton:hover {
    background-color: #333;
}
